.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
my css
*/

.root {
  margin-top: 150px;
}
.titleName {
  display: flex;
  margin-right: 10%;
}
.title {
  flex-grow: 1;
}
.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 100%;
}
.social-login-text {
  font-size: 6%;
}
.box {
  font-size: 30px;
  width: 40%;
  margin-left: 32%;
  box-shadow: 0px 1px 17px;
}

.main {
  margin-top: 5%;
  margin-bottom: 5%;
}

.container {
  font-size: 30px;
  width: 40%;
  margin-left: 32%;
  margin-right: 32%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.img {
  width: 0.3in;
  height: 0.3in;
}

.drawer-img {
  min-width: 1;
  min-height: 1;
  max-width: 3em;
  max-height: 3em;
  cursor: pointer;
}

.root-card-note {
  display: flex;
  justify-content: center;
  position: relative;
  line-height: 10%;
}

.note-create {
  display: flex;
  margin-top: 9%;
  margin-left: 31%;
  width: 44%;
  height: 5%;
  border-radius: 4px;
  box-shadow: 0px 1px 6px;
  line-height: 10%;
}
.note-card-expand {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px;
}
.note-card {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px;
}

#input-Base-Title {
  padding-left: 10%;
  border-radius: 4px;
  width: 400px;
}

.Component {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#input-Base-TakeANote {
  padding-left: 5%;
  width: 534px;
}

.tool-content {
  display: flex;
  flex-direction: row;
}

#allNotesListView {
  width: 60%;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px;
}

.notesCardSetting {
  display: flex;

  justify-content: space-between;
}
.notesGridView {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-top: 3%;
}
.noteCard {
  width: 300px;
  height: 100px;
  padding-left: 20px;
  padding-top: 10px;

  margin-right: 5%;
  margin-top: 5%;
  border-radius: 4px;
}
.searchIcon {
  color: gray;
}
.search {
  display: flex;
  position: relative;
  background-color: whitesmoke;
  width: 600px;
  height: 46px;
  align-items: center;
  border-radius: 11px;
}

.refreshGridProfile {
  display: flex;
  margin-left: 5%;
}

.side-bar {
  display: flex;
}
.sidebar-text {
  margin-left: 8%;
}
